.btn-warning{
    box-shadow: 0 2px 6px #ffc473;
    background: #ffa426;
    color: white;
    font-size: 15px;
}

.btn-warning:hover{
    color: white;
}

.table tbody tr.deactive td{
    background-color: #ffb6c19e;
}

label{
    font-size: 15px;
    margin-bottom: 4px;
    font-family: "Nunito", sans-serif;
    color: black;
    font-weight: 400;
}

.text-center-vh{
    vertical-align: middle!important;
    text-align: center;
}

.btn{
    font-size: 13px;
}

.btn-success{
    box-shadow: 0 2px 6px #81d694;
    background-color: #47c363;
    border-color: #47c363;
    color: white;
    font-size: 13px;
}

.dataTables_wrapper .row:last-child{
    margin-top: 10px!important;
}

.btn-primary{
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #6777ef;
    border-color: #6777ef;
}

.btn-primary:hover{
    background-color: #394eea !important;
}

.table-responsive{
    overflow-x: hidden;
}

.button-action{
    margin-bottom: 20px;
}

.button-action .form-control{
    display: inline-block;
    width: unset;
}

.btn-lg{
    font-size: 1rem!important;
    font-weight: 600!important;
}

.g-2{
    gap: 20px;
}

.selected-row td {
    background-color: #0076ffa1 !important;
    color: white;
}

h1.pagetitle{
    font-size: 24px;
    color: #012970;
    font-weight: 600;
    margin: 0;
}

.modal-title{
    font-size: 24px;
    color: #012970;
    font-weight: 600;
}

table.datatable-primary thead tr{
    background-color: rgb(65, 84, 241)!important;
    color: white!important;
}

table.datatable-dark-primary thead tr{
    background-color: #3546B3!important;
    color: white!important;
}

table td{
    color: black;
    font-family: 'Open Sans', 'Nunito', sans-serif;
}

.datepicker::marker {
    display: none;
}

#list_cluster_filter label input.form-control-sm{
    width: 150px;
}

#list_cluster_info{
    display: none;
}

.btn-info{
    box-shadow: 0 2px 6px #82d3f8;
    background-color: #3abaf4;
    border-color: #3abaf4;
    color: #fff;
}

.btn-info:hover{
    background-color: #0da8ee !important;
}

.table-center thead tr th, .table-center tbody tr td{
    text-align: center;
}

body.modal-open .blur-container{
    -webkit-filter: blur(20px);
    filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
}



